<ul class="flex flex-wrap gap-2">
  @for (pokemon of pokemons; track pokemon.name) {
    <a
      class="card card-side bg-base-100 hover:bg-base-200 w-60 shadow-xl transition-all hover:shadow-2xl"
      [routerLink]="['/pokemon', pokemon.name]"
    >
      <figure>
        <img
          [src]="pokemon.sprites.other?.['official-artwork']?.front_default"
          [alt]="pokemon.name"
        />
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title">{{ pokemon.name | titlecase }}</h2>
      </div>
    </a>
  }
</ul>
